/* Couleur par défaut */
:root,
#wrapper[data-theme='light'] {
    /* bg color */
    --bg-color-1: #D4DFE1;
    --bg-color-2: #B6C4C7;
    --bg-color-3: #67797B;
    --bg-color-4: #054342;
    --bg-color-5: #052011;

    /* Overlay color */
    --overlay-color-1: #67797be0;

    /* font color */
    --font-color-1: #000;
    --font-color-2: #FFF;
}

#wrapper[data-theme='dark'] {
    /* bg color */
    --bg-color-1: #7d898b;
    --bg-color-2: #5e7074;
    --bg-color-3: #3a4647;
    --bg-color-4: #052221;
    --bg-color-5: #010c0c;

    /* Overlay color */
    --overlay-color-1: #67797be0;

    /* font color */
    --font-color-1: #000;
    --font-color-2: #FFF;
    --font-color-3: #d9ebe2;
    --font-color-4: #2a2c2b;

    /* Bouton */
    --btn-delete-1: #031616;
}

h1 {
    margin: 30px 10%;
    color: var(--font-color-2);
}

.list-categorie, .list-users {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 10%;
}

.categorie, .user {
    text-decoration: none;
    width: fit-content;
}

.categorie span, .user span {
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color-2);
}

.categorie span:hover, .user span:hover {
    color: var(--font-color-4);
}