@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* Couleur par défaut */
:root,
#wrapper[data-theme='light'] {
    /* bg color */
    --bg-color-1: #D4DFE1;
    --bg-color-2: #B6C4C7;
    --bg-color-3: #67797B;
    --bg-color-4: #054342;
    --bg-color-5: #052011;

    /* Overlay color */
    --overlay-color-1: #67797be0;

    /* font color */
    --font-color-1: #000;
    --font-color-2: #FFF;
}

#wrapper[data-theme='dark'] {
    /* bg color */
    --bg-color-1: #7d898b;
    --bg-color-2: #5e7074;
    --bg-color-3: #3a4647;
    --bg-color-4: #052221;
    --bg-color-5: #010c0c;

    /* Overlay color */
    --overlay-color-1: #67797be0;

    /* font color */
    --font-color-1: #000;
    --font-color-2: #FFF;
    --font-color-3: #d9ebe2;

    /* Bouton */
    --btn-delete-1: #031616;
}

#wrapper {
    font-size: 12px;
    background-color: var(--bg-color-4);
    color: var(--font-color-2);
}

#forum {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-3);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

/* Styles pour l'overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color-1);
    z-index: -1;
}

/* Styles pour les écrans de taille inférieure (petit mobile) */
#navbar {
    display: flex;
}

.hamburger {
    margin-left: 10px;
    float: left;
    transition: opacity .3s;
    z-index: 2;
}

.hamburger .line {
    width: 50px;
    height: 7px;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.hamburger .line:nth-child(1),
.hamburger .line:nth-child(3) {
    background-color: var(--bg-color-2);
}

.hamburger .line:nth-child(2) {
    background-color: var(--bg-color-3);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
    background-color: var(--bg-color-5);
}

.hamburger.open .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
    background-color: var(--bg-color-5);
}

.nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-color-4);
    width: 85%;
    height: 100vh;
    flex-direction: column;
    transition: all 2s ease-in-out;
}

.nav-links ul {
    list-style-type: none;
    padding-top: 40%;
}

.nav-links li {
    padding: 5% 50px;
    width: 100%;
}

.nav-links li a {
    color: var(--font-color-2);
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
    font-weight: 600;
}

#navbar {
    transition: all 2s ease-in-out;
}

/* Affiche le bandeau avec la classe open et utilise l'animation fade */
.nav-links.open {
    display: flex;
    animation: fade .5s;
    z-index: 1;
}

@keyframes fade {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Footer */
footer {
    background-color: var(--bg-color-4);
    color: var(--font-color-2);
    text-align: center;
    padding: 10px;
    width: 100vw;
}

footer a {
    color: var(--font-color-2);
    text-decoration: none;
    margin: 0 5px;
}

/* Boutons */
.delete-btn {
    background-color: var(--bg-color-4);
    color: var(--font-color-2);
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    width: 100%;
}

.btn-link {
    background-color: var(--bg-color-4);
    color: var(--font-color-2);
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
}

/* Media query pour les écrans de taille supérieure à 499px et inférieure à 800px (mobile et tablette) */
@media only screen and (min-width: 499px) and (max-width: 799px) {
    .nav-links li a {
        font-size: 18px;
    }

    .nav-links ul {
        padding-top: 20%;
    }
}

/* Media query pour les écrans de taille supérieure à 800px (grand écran)) */
@media only screen and (min-width: 800px) {
    header {
        height: 50px;
        background-color: var(--bg-color-4);
    }

    .header {
        margin: 30px 10%;
    }

    #navbar {
        display: block;
        width: 100vw;
        height: 50px;
        transition: none;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        width: 100vw;
        height: 50px;
        transition: none;
    }

    .nav-links ul {
        height: 50px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 10%;
        max-width: 100vw;
        gap: 10px;
    }

    .nav-row {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .nav-links li {
        padding: 0;
        width: auto;
    }

    .nav-links li a {
        font-size: 18px;
        color: var(--font-color-2);
        text-decoration: none;
        margin: 0;
        font-weight: 600;
    }

    .nav-links li a:hover {
        color: var(--bg-color-2);
    }

    .nav-links.open {
        display: flex;
        animation: none;
        z-index: 1;
    }

    footer p, footer a {
        font-size: 16px;
    }

    /* Bouton */
    .delete-btn {
        background-color: var(--bg-color-4);
        color: var(--font-color-2);
        border: none;
        padding: 12px 20px;
        cursor: pointer;
        width: 100%;
    }
    
    .delete-btn:hover {
        background-color: var(--btn-delete-1);
    }
    
    .btn-link {
        background-color: var(--bg-color-4);
        color: var(--font-color-2);
        border: none;
        padding: 12px 20px;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        height: 100%;
    }
    
    .btn-link:hover {
        background-color: var(--btn-delete-1);
    }
}