/* Couleur par défaut */
:root,
#wrapper[data-theme='light'] {
    /* bg color */
    --bg-color-1: #D4DFE1;
    --bg-color-2: #B6C4C7;
    --bg-color-3: #67797B;
    --bg-color-4: #054342;
    --bg-color-5: #052011;
    --bg-color-5-hover: #010c0c;

    /* Overlay color */
    --overlay-color-1: #67797be0;

    /* font color */
    --font-color-1: #000;
    --font-color-2: #FFF;
}

#wrapper[data-theme='dark'] {
    /* bg color */
    --bg-color-1: #7d898b;
    --bg-color-2: #5e7074;
    --bg-color-3: #3a4647;
    --bg-color-4: #052221;
    --bg-color-5: #010c0c;
    --bg-color-5-hover: #000000;

    /* Overlay color */
    --overlay-color-1: #67797be0;

    /* font color */
    --font-color-1: #000;
    --font-color-2: #FFF;
    --font-color-3: #d9ebe2;
}

[class^="modifier-topicMessage"] {
    display: none;
    padding: 0;
}

[class^="afficher-topicMessage"] {
    display: block;
}

.no-topic, .no-message {
    font-size: 18px;
    margin: 50px 10px;
}

.responsive-table {
    max-width: 800px;
    background-color: var(--bg-color-3);
    margin-bottom: 30px;
}

.topicTable,
.postTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topicTable ul,
.postTable > ul {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(112, 112, 112);
    gap: 1px;
}

.topicTable ul div {
    padding: 10px;
}

ul,
li {
    list-style: none;
}

.infos-topic {
    display: flex;
    flex-direction: column;
}

.info-post {
    padding: 10px;
    min-height: 100px;
}

.utilisateur {
    font-size: 16px;
    font-weight: 700;
}

.date {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
}

.mess {
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
}

.postTable {
    background-color: var(--bg-color-3);
}

@media only screen and (max-width: 800px) {

    .info-topic,
    .postTable > ul {
        background-color: var(--bg-color-5);
    }
}

/* .topicList li {
    
} */

.titre {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-3);
    padding-bottom: 5px;
}

.text-topic {
    font-size: 16px;
    font-weight: 300;
}

.fa-solid {
    color: var(--font-color-2);
    font-size: 16px;
}

@media only screen and (min-width: 800px) {
    .no-topic, .no-message {
        font-size: 18px;
        margin: 0px 10%;
    }

    h1 {
        padding: 0;
    }

    .header {
        padding: 0;
    }

    .responsive-table, .formulaire {
        max-width: 100vw;
        background-color: var(--bg-color-5);
        margin: 0 10%;
        margin-bottom: 30px;
    }

    .formulaire, .formulaire .btn  {
        border-radius: 0 0 10px 10px;
    }

    .topicTable {
        border-radius: 10px;
        gap: 0;
    }

    .topicTable ul {
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
    }

    .topicTable ul:first-child,
    .info-topic,
    .responsive-table {
        border-radius: 10px;
    }

    .topicTable ul:first-of-type .delete-btn {
        border-top-right-radius: 10px;
    }

    .topicTable li:last-of-type .delete-btn {
        border-bottom-left-radius: 10px;
    }

    .topicTable ul:hover {
        background-color: var(--bg-color-5-hover) !important;
    }

    .topicTable ul:last-of-type:hover {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .info-post {
        background-color: var(--bg-color-5);
    }

    #forum .responsive-table:first-of-type .postTable .info-post {
        border-radius: 10px 10px 0 0;
    }

    [class^="modifier-topicMessage"] form .btn:last-of-type {
        border-radius: 0 0 10px 10px;
    }
    
    [class^="afficher-topicMessage"] .delete-btn {
        border-radius: 0;
    }

    .postTable ul:last-of-type [class^="afficher-topicMessage"] button:last-child {
        border-radius: 0 0 10px 10px;
    }

}